.App {
  text-align: center;
  display: flex;
flex-basis: 100%;
}

.col1 {
  background-color: #194D33;
  flex-basis: 50%;
  padding-top: 1%;
}

.col2 {
  background-color: #EEF1F0;
  flex-basis: 50%;
  padding-top: 1%;
}

.frmHeading {
  color: green;
  font-size: 20px;
  font-weight:600;
 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
